<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>辅助测试脚本</title>
</head>
<body>
    <form name="submit_form" action="http://127.0.0.1:5000/get_vlues" method="post">
        <h1>请选择创建项目类型</h1>>
        <div>项目类型: <input  type="text" name="pro_type" value="企业"></div>
        <div>项目名称: <input  type="text" name="pro_name" value=""></div>
        <div>采购类型: <input  type="text" name="cg_type" value="公开招标"></div>
        <div>采购文件: <input  type="text" name="file" value="F:\上传文件\测试-招标文件.pdf"></div>
        <div>交易中心: <input  type="text" name="jyzx" value="河北省公共资源交易中心"></div>
        <div>主持人:  <input  type="text" name="zcr" value="招标人AAA"></div>
        <div>标段数量: <input  type="text" name="bid_num" value="1"></div>
        <div>标段行业: <input  type="text" name="bdhy" value="工程类 / 规划 / 国民经济和社会发展规划 / 总体规划"></div>
        <div><input type="submit" value="创建"></div>
    </form>
</body>
</html>